.whiteField {
    -fx-background-color: white;
    -fx-min-height: 100px;
    -fx-min-width: 100px;
    -fx-alignment: center;
}

.blackField {
    -fx-background-color: #b58863;
    -fx-min-height: 100px;
    -fx-min-width: 100px;
    -fx-alignment: center;
}
